<header>
  	<h1>timetracking</h1>
  	<ul>
  		<li> <a href="/"> Home </a> </li>
  		<li> <a href="/contact"> Contact </a> </li>
        <li> <a href="/calculator"> add stuff </a> </li>
        <li> <a href="/projects"> projects </a> </li>
  	</ul>
  </header>