<h1> Contacts index</h1>


<ul>

	<% @sorted.each do |contact| %>
		<li>
		 <%= link_to("#{contact.name}", show_path(contact))%> 
		 <!-- <a href="/contact/contct.id"> contact.name </a> -->
		</li>
		<%end%>

</ul>


<a href="/new"> add new contact </a>




