<h1> new task</h1>

<form action="/create_task" method="POST"> 

	<input type="string" name ="newtask" placeholder="input">

	<button type="submit" name="addtask" value="addtask">ADD task</button>


</form>