

<div class="concert-index">
<h1> All Upcoming </h1>

<% @concert.each do |one_concert| %>
	<p class="index-single"><%= link_to "#{one_concert.artist}", concert_path(one_concert.id) %></p>	

	<% end %>

</div>