<!DOCTYPE html>
<html>
<head>
	<title>Site Home</title>
</head>
<body>



<div class="today">
	<h3>Concerts Today</h3>
	<% @today.each do |t|%>
		<%= link_to "#{t.artist}", concert_path(t)%>
		<br>
	<% end %>
</div>


<div class="bar">
	<p> Concerts this month </p>
		<% @this_month.each do |m|%>
	<%= link_to"#{m.artist}", concert_path(m.id)%> </li>
	<br>
		<% end %>
	
</div>




</body>
</html>