// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homepage {
	background-image: url("handsbackground.jpg");
	position: relative;
	padding-bottom: 0px;
	margin-bottom: 0px;
	top: -20px;
	height: 830px;
	width: 1450px;
	left: -10px;
}

.btn-group btn-group-justified {
	position: relative;
	margin-top: 100px;
	margin: 0px;
	display: block;
	top: 200px;
}

.btn-group {
	color: blue;
}

.today {
	position: relative;
	left: 250px;
	top: 200px;
}

.bar {
	position: relative;
	float: right;
	top: 110px;
	margin-right: 200px;
}
.concert-index {
	position: relative;
	left: 370px;
	top: 100px;
}

.show {
	position: relative;
	padding: 0px;
	margin: 0px;
	left:400px;
	top: 100px;
}

.form {
	position: relative;
	top: 100px;
	left: 100px;
}
.go-back {
	position: relative;
	left: 100px;
	top: 120px;
}

.link_to {
    color: black;
    text-decoration: underline;
}

.new-comment {
	position: relative;
	left: 200px;
	top: 100px;
}
.add-new-comment {
	position: relative;
	left: 725px;
	top: -160px;
}

.media {
	position: relative;
	margin: 0px;
	padding: 0px;
	top: -150px;
	left: 715px;
	background: white;
	width: 200px;
	text-align: center;
	border: 1px solid grey;
}

.media-heading {
	text-align: left;
}











