<%# add navigation links to this file %>
Links will go here
<li>
	<%= link_to 'Home', home_path %></li>
  <!-- Home Link -->
</li>
<li>
	<%= link_to 'About', about_path %></li>
<li>
	<!-- Blog link -->
	<%= link_to 'Blog', blog_path %></li>
</li>
<li>
	<!-- Contact Link -->
	<%= link_to 'Contact', contact_path %></li>
</li>
