<h1> Index </h1>

<%@my_projects.each do |project|%>
	<p>

 	<%= link_to project.name, project_path(project)%> 

		 <% if project.description != 'nill' %>
			<%= project.description %>
		<%end%> 

		<%= link_to("see time entries", project_time_entries_path(project))%>
	</p>

<% end %>

<h2> <%= link_to 'creat new project', new_project_path%> </h2>





