<h1> Index </h1>

<%@my_projects.each do |project|%>

 	<%= link_to project.name, project_path(project)%> 

		 <% if project.description != 'nill' %>
			<%= project.description %>
		<%end%> 
		</p>

<% end %>

<%= link_to 'creat new project', projects_new_path%>





