<h1>All users</h1>
<ul>
  <% @users.each do |user| %>
  <li>Username: <%= user.username %> | Email: <%= user.email %></li>
  <% end %>
</ul>
<%= link_to "secret stuff", secret_gif_path%>
<%= link_to "Home", root_path%>